@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* background-color: #004d7f; */
  }
  /* .ReactModal__Html--open,
    .ReactModal__Body--open {
      overflow-y: scroll;
    } */
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #004d7f;
  border-radius: 10px;
}
.blue_button {
  @apply focus:outline-none bg-[#3575B1] text-white font-medium rounded-full active:scale-90 transition text-sm md:px-10 px-5 md:py-4 py-2;
}
.outline_button {
  @apply focus:outline-none bg-transparent border bottom-1 border-white text-white font-medium rounded-full active:scale-90 transition text-sm md:px-10 px-5 md:py-4 py-2;
}
