@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* background-color: #004d7f; */
  }
  /* .ReactModal__Html--open,
    .ReactModal__Body--open {
      overflow-y: scroll;
    } */
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #004d7f;
  border-radius: 10px;
}
.blue_button {
  @apply font-medium rounded-full text-sm md:px-10 active:scale-90 transition md:text-base px-5 md:py-4 py-2;
}
.outline_button {
  @apply font-medium rounded-full active:scale-90 transition text-sm md:px-10 px-5 md:py-4 py-2;
}

.navlink:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlink:hover:after {
  width: 100%;
  left: 0;
}
.navcolor:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #3575b1;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.navcolor:hover:after {
  width: 100%;
  left: 0;
}
.footer:after,
.heading:after {
  background: #3575b1;
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  margin-top: 7px;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}

.btn {
  /* width: 200px;
  height: 50px; */
  position: relative;
  background-color: #3575b1;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 50px;
    background-color: #004d7f;
    transform: rotate(10deg);
    top: -80px;
    left: 20%;
    transition: 0.5s ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    width: 140%;
    height: 60px;
    background-color: #004d7f;
    transform: rotate(10deg);
    top: 80px;
    left: -20%;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    background-color: #004d7f;
    transition: 0s linear;
    transition-delay: 0.5s;
  }

  &:hover:before {
    top: -20px;
    left: -20%;
    transition: 0.5s ease-in-out;
  }

  &:hover:after {
    top: 10px;
    left: -23%;
    transition: 0.5s ease-in-out;
  }

  &:hover > .btn-content {
    color: dark;
    transition: 0.5s ease-in-out;
  }

  .btn-content {
    /* width: 100%;
    height: 100%; */
    /* text-align: center; */
    /* line-height: 50px; */
    color: white;
    /* font-weight: 400; */
    position: relative;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }
}
.btn-outline {
  /* width: 200px;
  height: 50px; */
  position: relative;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 50px;
    background-color: #004d7f;
    transform: rotate(10deg);
    top: -80px;
    left: 20%;
    transition: 0.5s ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    width: 140%;
    height: 60px;
    background-color: #004d7f;
    border: none;
    transform: rotate(10deg);
    top: 80px;
    left: -20%;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    background-color: #004d7f;
    border: none;
    transition: 0.5s linear;
    transition-delay: 0.5s;
  }

  &:hover:before {
    top: -20px;
    left: -20%;
    transition: 0.5s ease-in-out;
  }

  &:hover:after {
    top: 10px;
    left: -23%;
    transition: 0.5s ease-in-out;
  }

  &:hover > .btn-content {
    color: dark;
    transition: 0.5s ease-in-out;
  }

  .btn-content {
    /* width: 100%;
    height: 100%; */
    /* text-align: center; */
    /* line-height: 50px; */
    color: white;
    /* font-weight: 400; */
    position: relative;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }
}
